
    <div class="head">
        <h6>
            <span>My Day...</span><br><br>
            <span>Wednesday, September 2</span>
        </h6>
    
    </div>
    
    <div class="my">
        <input  (Keydown.enter)="getv(mm.value)" aria-label="Add a task" aria-describedby="badeAddInput-addTask-description" maxlength="255" type="text" placeholder="+ Add a task" tabindex="-1" style="width: 100%; border: none;" #mm><br>
        <input type="text" placeholder={{currentv}} style="width: 100%; border:none" disabled><br><br>
        
    <br>
    
       
        
    </div>
    


